<div class="container">
    <div class="jumbotron">
        <h1>Sign up </h1>
    </div>
</div>
<p>Enter Details</p>
<p>
	<p>Name :
        <input type="text" ng-model="name" placeholder="Username"></p>
       	<p>Password :
        	<input type="password" ng-model="password" placeholder="Password"></p>
        <p>confirm Password :
            <input type="password" ng-model="confirmpassword" placeholder="Confirm Password"></p>
        <p><a href="#benefits">
	 		<input type="submit" value="Signup">
	 	</a></p>
         <a href="#home">Have an Account? Click here to login
        </a>
	</p>
</p>